.container {
    margin-top: 30px;
}

#articles {
    border-right: 1px solid rgb(225, 225, 225);
}

#about {
    padding-right: 20%;
}

#scrape {
    border-bottom: 1px solid black;
}

#titleinput {
    width: 100%;
    margin-bottom: 10px;
}

#bodyinput {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

#savenote {
    width: 100%;
}

#articleTitle {
    font-family: "FRI";
    font-size: 22px;
}


h1 {
    font-family: "WMR";
    font-size: 72px;
}

h1 i {
    font-family: "FRI";
}

h2 {
    font-family: "WR";
}

h2 i {
    font-family: "FRI";
}

p {
    font-family: "WR";
}

/* fonts */

@font-face{
    font-family: 'WR';
    src: url('./fonts/WR.woff'), url('./fonts/WR.woff') format('woff');
}

@font-face{
    font-family: 'WMR';
    src: url('./fonts/WMR.woff'), url('./fonts/WMR.woff') format('woff');
}

@font-face{
    font-family: 'FRI';
    src: url('./fonts/FRI.otf'), url('./fonts/FRI.otf') format('otf');
}